<div class="row">

	<div class="col-md-4">

		<%= image_tag @book.image , class: "book-show"  if @book.image.attached? %>

	</div>

   <div class="col-md-8">

		<div class="book-info">
        <h2 class="book-title"><%= @book.title%></h2>
        <h3 class="book-author"><span>From </span><%= @book.author %></h3>
        <p class="book-desc"><%= @book.description %></p>
        <h4 class="book-price">Rs.<%= @book.price %> only!</h4>
    </div>
  </div>

 

<div class="links btn-group">
  <%= link_to "Back", root_path, class: "btn btn-custom"%>

  <%if user_signed_in?%> 
  <% if @book.user_id == current_user.id %>
    <%= link_to "Edit", edit_book_path(@book),class: "btn btn-custom"%>
    <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-custom"%>
     <% end %>
  <% end %>
         <div class="btn btn-custom">
          <% if user_added_to_library?(current_user, @book) %>
            <%= link_to 'Remove from Cart', add_book_path(@book, type: "remove"), method: :put %>
          <% else %>
            <%= link_to 'Add to Cart', add_book_path(@book, type: "add"), method: :put%>
        <% end %>
     
      </div>
    </div>
  </div>
         
</div>